.images { list-style-type: none; margin: 0; padding: 0; overflow: hidden; }

.images .slider_image { display:block; background-color: white; margin: 0 3px 3px 0; padding: 3px; border: 1px solid #CCCCCC; float: left; width: 24%; height: 200px; text-align: center; overflow: hidden; }
.images .images-placeholder {
	display: block;
	float: left;
	background-color: #ACACAC;
	border: 1px dashed #C0C0C0;
	border: 3px dashed #909090;
	width: 24.25%;
	height: 240px;
	overflow: hidden;
}
.images .slider_image .thumbnail { display: block; width: auto; height: 150px; overflow: hidden; text-align: center; }
.images .slider_image img { margin-bottom: 5px; display: block; width: auto; height: 150px; margin: 0 auto; }

.images .slider_image.clear { background-color: transparent; margin: 0 3px 4px 0; padding: 0; border: 0; float: none; width: auto; height: auto; }

.images .slider_image { display: block; position: relative; padding-bottom: 40px; cursor: move; overflow: hidden; }
.images .slider_image .buttons { padding: 5px 0px; margin: 0px; border: none; text-align: center; }